body {
    background: #555;
}

#relatorio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralizado {
    margin: 20px auto 100px auto;
    display: flex;
    /*flex-direction: column;*/
    align-items: baseline;
}

/*#botaoResolveConflito{display: none}*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: baseline;
    /*ali*/
}

.div-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 5px;
    outline: 1px solid #ccc;
    /*border: 1px solid #ccc;*/
    /*padding: 10px;*/
}

h2,
td {
    text-align: center;
    margin: 0;
}

table {
    width: 100%;
    background: #aaa;
    /*border-collapse: collapse;*/
}

.esquerda {
    width: 70%
}

.direita {
    width: 30%
}


th,
td {
    outline: 1px solid #ccc;
    background: #aaa;
    /*padding: 5px;*/
    padding: 0;
    /*box-sizing: border-box;*/
}

.tdDiaAfastamento {
    background: orange;
}

.tdDiaAfastamentoDestaque {
    background: orangered!important;
}

.tdDiaInicioAfastamento {
    outline: 5px solid gold !important;
}

.tdDiaEmConflito {
    background: green;
}

.tdDiaEmConflitoDestaque {
    background: greenyellow!important;
}


.tdDiaInicioSubstituicao {
    outline: 5px solid dodgerblue;
}

.tdDiaSubstituicao {
    outline: 1px solid blue;
    background: deepskyblue;
}

.tdDiaSubstituicaoDestaque {
    background: cadetblue !important;
}

.tdDiaLimpo {
    outline: 1px solid #ccc;
    background: #fff;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: block;
}

.modal-dialog {
    margin: 10% auto;
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.modal-header {
    border-bottom: 1px solid #ddd;
}

.modal-title {
    margin: 0;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    color: #fff;
}

.close:hover {
    color: #000;
}

ul {

    padding: 5px;
}

li {
    font-weight: bold;
    font-size: 1.2em;
    list-style-type: none
}